:root {

    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

    
    
    --text-primary: var(--dark-blue);
    --text-secondary: var(--grayish-blue);

    --bg-primary: var(--light-gray);
    --bg-secondary: var(--white);

}